            <footer>
               <h2 class="outline">Footer</h2>
               <nav id="bottomnav">
                  <ul class="cols-4"></ul>
               </nav>
               <section id="utility" class=" has-search">
                  <div class="divider" id="footer-divider">
                     <form class="search" action="http://" search"="" method="GET">
                        <input type="hidden" name="o" value="home">
                        <div class="search-field">
                           <input type="text" name="q" placeholder="Search" autocomplete="off" id="searchField_Footer">
                           <span class="search-icon"></span>
                        </div>
                     </form>
                  </div>
               </section>
            </footer>
         </div>
         <div id="goc-ft" data-country="inc-za">
            <section id="goc-ft-help">
               <h2 class="outline">Help</h2>
               <div id="goc-ft-logo"></div>
               <nav role="navigation" aria-labelledby="about-legal-heading">
                  <h3 id="about-legal-heading" class="outline">About and Legal</h3>
                  <ul id="goc-ft-about">
                     <li><a target="" href="https://support.disney.com/hc/en-za">Help</a></li>
                     <li><a target="" href="https://disneytermsofuse.com/english-south-africa/">Terms of Use</a></li>
                     <li><a target="" href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/">Privacy Policy</a></li>
                     <li><a target="" href="http://preferences-mgr.truste.com/?pid=disney01&amp;aid=disneyemea01&amp;type=Disneyemea">Interest-based Ads</a></li>
                     <li><a target="" href="about-us.html">About Us</a></li>
                     <li><a target="" href="https://www.thewaltdisneycompany.eu/">The Walt Disney Company</a></li>
                  </ul>
                  <ul id="goc-ft-legal">
                  </ul>
                  <div id="goc-ft-copyright">
                     © Disney © Disney•Pixar © &amp; ™ Lucasfilm LTD © Marvel. All Rights Reserved
                  </div>
               </nav>
            </section>
         </div>
      </div>
      <div id="modal-container">
         <div id="modal-window" class="out-of-burger modal-window">
            <a href="#" id="modal-close" class="top-right hidden ada-el-focus" tabindex="0" role="button" aria-label="Close dialog"></a>
            <div id="modal-close-background"></div>
         </div>
         <div id="modal-overlay"></div>
      </div>
      <script src="{{ base_path ~ directory }}/assets/js/background_styles-988c5423ca62.js" type="text/javascript"></script>
      <script src="{{ base_path ~ directory }}/assets/js/flex_content_hero-d1a011ca25ee.js" type="text/javascript"></script>
      <script src="{{ base_path ~ directory }}/assets/js/flex_grid-46fa6ba80583.js" type="text/javascript"></script>
      <script src="{{ base_path ~ directory }}/assets/js/slider-bbef40363d59.js" type="text/javascript"></script>
      <script src="{{ base_path ~ directory }}/assets/js/rich_text-5db3da9fd42a.js" type="text/javascript"></script>
   </body>

</html>