<!DOCTYPE html>

<html class="no-js" version="HTML+RDFa 1.1" lang="en-ZA">

   <meta http-equiv="content-type" content="text/html;charset=utf-8" />

   <head prefix="og: http://ogp.me/ns#" dir="ltr">
      <title>Disney South Africa | The Official Home For All Things Disney</title>
      <script src="{{ base_path ~ directory }}/assets//js/jquery-dc8b911876ec.js" type="text/javascript"></script>

      <link rel="preload" href="https://static-mh.content.disney.io/matterhorn/assets/matterhorn/sans/matterhorn-regular-eed88f0756d6.woff" as="font" type="font/woff" crossorigin="anonymous">
      <link rel="preload" href="{{ base_path ~ directory }}/assets//css/application-bfac960f836d.css" as="style" type="text/css" crossorigin="anonymous">
      <link rel="preload" href="{{ base_path ~ directory }}/assets//css/matterhorn-v3-player-skin-77381cd10564.css" as="style" type="text/css" crossorigin="anonymous">
      <link rel="preload" href="{{ base_path ~ directory }}/assets//js/dolwebanalytics.js" as="script" type="application/javascript" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/application-bfac960f836d.css" type="text/css">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/background_styles-1903f7131478.css" type="text/css">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/flex_content_hero-78a61b31ba69.css" type="text/css">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/flex_grid-263befe9ebc3.css" type="text/css">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/slider-a9699399a906.css" type="text/css">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/rich_text-fc52ad2df661.css" type="text/css">
      <link rel="stylesheet" href="{{ base_path ~ directory }}/assets//css/application-224514d37171.css" id="base-theme-styles" class="incredibles">
      <link rel="stylesheet" type="text/css" href="{{ base_path ~ directory }}/assets//css/disneyuschrome-70f85c0e9b2f.css">
      <link rel="stylesheet" type="text/css" href="{{ base_path ~ directory }}/assets//css/disneyuschrome-desktop-8a204be03bba.css" media="(min-width: 769px)">
      <link rel="stylesheet" type="text/css" href="{{ base_path ~ directory }}/assets//css/disneyuschrome-mobile-9a3a83486e48.css" media="(max-width: 768px)">
      <link rel="stylesheet" type="text/css" href="{{ base_path ~ directory }}/assets//css/incredibles_search-a03925a98f4d.css">
      <!--[if lt IE 9]>
      <link rel="stylesheet" type="text/css" href="https://static-mh.content.disney.io/matterhorn/assets/goc/disneyuschrome-desktop-8a204be03bba.css">
      <![endif]-->
      <style type="text/css">        .goc-icn-login, .goc-icn-login-bar{ background-image:url();  background-size: 32px }
         html.goc-no-data-uri .goc-icn-login, html.goc-no-data-uri .goc-icn-login-bar{ background-image:url() }
         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
         .goc-icn-login, .goc-icn-login-bar{ background-image:url(); }
         }
         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
         }
         .bar-dropdown-content .goc-thumb-link{ height: 500px; }
         #goc-desktop-global .goc-desktop:hover .bar-dropdown-content{max-height: 532px;}
         @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
         }
      </style>
      <script type="text/javascript">!function(e){"use strict";var t=e.GOC=e.GOC||{};t.queue=t.queue||[],t.opts=t.opts||{}}(this),GOC.load=function(e,t){"use strict";var n=document,o=n.getElementsByTagName("script")[0],s=n.createElement("script");s.type="text/javascript",s.async="async",s.onload=s.onreadystatechange=function(e,n){var o=this,s=o.readyState,r=o.parentNode;!r||!n&&s&&"complete"!==s&&"loaded"!==s||(r.removeChild(this),!n&&t&&t())},s.src=e,o.parentNode.insertBefore(s,o),s=n=o=null},function(e){"use strict";var t=e.encodeURIComponent;e.GOC.load("//a.dilcdn.com/g/domains/"+t(e.location.hostname)+".js")}(this),function(e){"use strict";var t=e.GOC,n=e.encodeURIComponent;t.defopts=function(e){0===Object.keys(t.opts).length&&(t.opts=e)},t.ao=function(e){var o=[],s=t.opts,r=s.footer;if(s.lang&&o.push("lang="+n(s.lang)),s.cds&&o.push("cds"),s.searchtype&&o.push("searchtype="+n(s.searchtype)),s.hide_desktop_menu&&o.push("hide_desktop_menu"),s.hide_search&&o.push("hide_search"),r)for(var a in r)if(r.hasOwnProperty(a))if("object"==typeof r[a])for(var i in r[a])r[a].hasOwnProperty(i)&&o.push("footer["+a+"]["+i+"]="+encodeURIComponent(r[a][i]));else o.push("footer["+encodeURIComponent(a)+"]="+encodeURIComponent(r[a]));return o.length&&(e+=(e.indexOf("?")<0?"?":"&")+o.join("&")),e}}(this),GOC.css=function(e){"use strict";var t=document,n=t.createElement("style"),o=t.getElementsByTagName("head")[0],s=(o||t).getElementsByTagName("script")[0];e&&(n.setAttribute("type","text/css"),s?s.parentNode.insertBefore(n,s):o.appendChild(n),n.styleSheet?n.styleSheet.cssText=e:n.appendChild(t.createTextNode(e)))},function(e,t){"use strict";var n=e.GOC,o=e.screen,s=e.document,r=s.documentElement,a=function(){var e,n,r,a,i,c=o&&o.fontSmoothingEnabled;if(c!==t)return c;try{for(e=s.createElement("canvas"),e.width=e.height=32,n=e.getContext("2d"),n.textBaseline="top",n.font="32px Arial",n.fillStyle=n.strokeStyle="black",n.fillText("O",0,0),r=0;r<32;r++)for(a=0;a<32;a++)if(255!==(i=n.getImageData(r,a,1,1).data[3])&&0!==i)return!0;return!1}catch(e){return t}},i=function(e){var t=s.createElement("div");t.innerHTML="M",t.style.fontFamily=e,r.insertBefore(t,r.firstChild),r.clientWidth,r.removeChild(t)};n.pf=function(e,t){!0===a()&&(n.css(e),i(t))}}(this),function(e){"use strict";e.GOC.noAnalyticsOnHover=!0}(this);GOC.pf("@font-face{font-family:'Matterhorn';src:url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-7e766c2825c7.eot#\") format(\"eot\"),url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-b366701d6945.woff\") format(\"woff\"),url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-ac909dff444f.ttf\") format(\"truetype\"),url(\"https://static-mh.content.disney.io/matterhorn/assets/m4-3d636e3b4270.svg#Matterhorn\") format(\"svg\");font-weight:400;font-style:normal}\n","Matterhorn");GOC.opts.cds=false;GOC.opts.bg="light";GOC.opts.footer={"comscore":"","translations":{"find_us_on \t":"Find Us On"}};GOC.opts.hide_desktop_menu=true;GOC.opts.hide_search=true;GOC.opts.searchtype="ac";GOC.load("../js/disneyuschrome-0da29ae44a01.js");GOC.a="http://a.dilcdn.com/g/inc-za/home/sac/";GOC.cart="http://a.dilcdn.com/g/inc-za/cart/";</script>
       <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="shortcut icon" href="https://static-mh.content.disney.io/matterhorn/assets/favicon-94e3862e7fb9.ico">
      <link rel="apple-touch-icon" href="../png/apple-touch-icon-2747f4e2a5dd.png">
      <meta name="google-site-verification" content="p87mvNHCCkmnOHO70lF2PLlyCMK8E7pBFgKV9Zwq570">
      <meta name="google-site-verification" content="-XyYiSk17l5Q6yDmOtZFCbjtBamYVhuAlZcH8rQ83Xs">
      <meta name="description" content="Discover all you need to know about Disney movies, live shows, holidays, parks and the latest magical gifts and toys in the Disney Store.">
      <meta property="og:title" content="Disney South Africa | The Official Home For All Things Disney">
      <meta property="og:description" content="Discover all you need to know about Disney movies, live shows, holidays, parks and the latest magical gifts and toys in the Disney Store.">
      <meta property="og:type" content="website">
      <meta property="og:site_name" content="Disney South Africa">
      <meta property="og:url" content="https://disney.co.za">
      <meta property="og:image" content="https://lumiere-a.akamaihd.net/v1/images/image_0dbec56c_d153e3ae.jpeg?region=0%2C0%2C200%2C200">
      <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","name":"Disney South Africa","url":"https://disney.co.za/"}</script>
      <script type="text/javascript">this.Disney={"portal":"disney.co.za","profileBase":null,"locales":["en-ZA"],"didOptions":{"responderPage":"//disney.co.za/_did/?clientId=","enableTop":false,"langPref":"en-ZA","clientId":""},"browser_warning_versions":[],"dossierBase":null,"rtl":false,"env":"production","ctoOptions":null};</script>
      <script src="../js/head-7e10977e5182.js" type="text/javascript"></script>
      <script type="text/javascript"></script>
      <script type="text/javascript">Disney.adSystem='noads'</script>
      <script type="text/javascript">Disney.consentPolicy={}</script>
      <script>var w=window;if(w.performance||w.mozPerformance||w.msPerformance||w.webkitPerformance){var d=document;AKSB=w.AKSB||{},AKSB.q=AKSB.q||[],AKSB.mark=AKSB.mark||function(e,_){AKSB.q.push(["mark",e,_||(new Date).getTime()])},AKSB.measure=AKSB.measure||function(e,_,t){AKSB.q.push(["measure",e,_,t||(new Date).getTime()])},AKSB.done=AKSB.done||function(e){AKSB.q.push(["done",e])},AKSB.mark("firstbyte",(new Date).getTime()),AKSB.prof={custid:"298083",ustr:"",originlat:"0",clientrtt:"263",ghostip:"92.122.54.51",ipv6:false,pct:"10",clientip:"105.112.50.97",requestid:"e75e2ae",region:"22076",protocol:"",blver:14,akM:"",akN:"ae",akTT:"O",akTX:"1",akTI:"e75e2ae",ai:"381942",ra:"false",pmgn:"",pmgi:"",pmp:"",qc:""},function(e){var _=d.createElement("script");_.async="async",_.src=e;var t=d.getElementsByTagName("script"),t=t[t.length-1];t.parentNode.insertBefore(_,t)}(("https:"===d.location.protocol?"https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js")}</script>
   </head>



   <body dir="ltr" data-ad_system="noads" data-cto-region="emea">
      <div id="style-pack-theming">
         <style type="text/css">  /* base-level page background styles */ .body-bg{ opacity: 1; }  .body-bg .main, .body-bg .safety-color{ background-color: #ffffff; }        /* secondary module-level color theme */  .module.secondary-theme:not(.skip-styles) h1:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) h1:not(.skip-text-styles) a, .module.secondary-theme:not(.skip-styles) h2:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) h2:not(.skip-text-styles) a, .module.secondary-theme.list_module_featured:not(.skip-styles) h3:not(.skip-text-styles), .module.secondary-theme.list_module_featured:not(.skip-styles) h3:not(.skip-text-styles) a, .module.secondary-theme:not(.skip-styles) .accent-color{ color: #ffffff; }   .module.secondary-theme:not(.skip-styles) p:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) ul:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) li:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) ol:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) .base-color, .module.secondary-theme:not(.skip-styles) .entity-details h3:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) .entity-container:not(.title-overlay) .entity-details .title, html.no-touch .module.secondary-theme:not(.skip-styles) .entity-container.links-out:not(.skip-hover):not(.title-overlay) .entity-details a:hover .title, .module.secondary-theme:not(.skip-styles) .entity-container:not(.title-overlay) .entity-details .ptitle{ color: #ffffff; }   .module.secondary-theme:not(.skip-styles) a:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) a.entity-link:hover h3:not(.skip-text-styles), .module.secondary-theme:not(.skip-styles) .button.transparent:not(.skip-text-styles){ color: #ffffff; }         /* page-level entity styles */  </style>
      </div>
      <div id="takeover-styles-default">
         <style type="text/css"> /* style-pack-configured takeover styles */    @media screen and (min-width: 1025px){          #nav-logo, #nav-local li a, aside.gpt.pushdown, #chrome-controls{ color: #fff; } #chrome-controls .chrome-controls-icon{ border-color: transparent #fff #fff transparent; } #nav-local li a.active{ color: #b2dfff; }   }   @media screen and (min-width: 1025px){ #nav-logo{ background-image: url(https://static-mh.content.disney.io/matterhorn/assets/logos/nav_logo-89193ebe6563.png);} } @media screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1025px), screen and (min-resolution: 144dpi) and (min-width: 1025px){ #nav-logo{ background-image: url(https://static-mh.content.disney.io/matterhorn/assets/logos/nav_logo@2x-25d10ad375dd.png);} }  </style>
      </div>
      <div id="takeover-styles-module-override" class=""></div>
      <div class="goc-el goc-bg-light  goc-overlay" role="region" aria-labelledby="nav-e" id="goc-menu">
         <div class="goc-bound goc-col">
            <ul id="goc-user-mobile" class="">
               <li class="goc-login goc-dropdown">
                  <span class="trigger-menu" data-event="login"><a class="goc-icn-login" href="javascript:void(0);" aria-expanded="false"><u>Sign in</u></a></span>
               </li>
               <li class="goc-logout goc-dropdown goc-expandable">
                  <a href="#" class="goc-icn-login goc-logout goc-expandable" aria-expanded="false"><u>My account</u></a>
               </li>
               <ul class="goc-dropdown menu-subsection" role="region" aria-labelledby="My-Account-control" id="My-Account-region">
                  <li class="trigger-menu" data-event="profile">
                     <a data-analytic="disid_menu" href="javascript:void(0);" rel="nofollow" aria-expanded="false"><u>Update My Account</u></a>
                  </li>
                  <li class="trigger-menu" data-event="logout">
                     <a data-analytic="disid_menu" href="javascript:void(0);" aria-expanded="false"><u>Sign out</u></a>
                  </li>
               </ul>
            </ul>
            <ul class="menu-section">
               <li class="menu-section-heading goc-expandable"><a href="movies.html" tab-index="0" aria-expanded="false" aria-controls="MOVIES-dropdown" class="goc-mobile goc-icn-0"><u>MOVIES</u></a></li>
               <ul class="goc-mobile menu-subsection" role="region" aria-labelledby="MOVIES-control" id="MOVIES-region">
                  <li class=""><a href="movies.html" class="goc-mobile" aria-expanded="false"><u>Featured</u></a></li>
                  <li class=""><a href="luca.html" class="goc-mobile" aria-expanded="false"><u>Luca</u></a></li>
                  <li class=""><a href="cruella.html" class="goc-mobile" aria-expanded="false"><u>Cruella</u></a></li>
                  <li class=""><a href="raya-and-the-last-dragon.html" class="goc-mobile" aria-expanded="false"><u>Raya</u></a></li>
                  <li class=""><a href="soul.html" class="goc-mobile" aria-expanded="false"><u>Soul</u></a></li>
                  <li class=""><a href="black-widow.html" class="goc-mobile" aria-expanded="false"><u>Black Widow</u></a></li>
               </ul>
            </ul>
            <ul class="menu-section">
            </ul>
            <ul class="menu-section">
            </ul>
            <ul class="menu-section">
            </ul>
         </div>
      </div>
      <div id="goc-body" class="goc-main-body">
         <div id="goc-mask"></div>
         <button id="goc-skip-nav" class="goc-bg-light goc-el" tabindex="1" style="visibility: visible;">Skip Navigation</button>
         <div class="goc-el goc-bg-light " id="goc-bar" role="banner">
            <div class="goc-bound" role="navigation" aria-labelledby="goc-desktop-global">
               <ul id="goc-desktop-global" class="goc-desktop-global goc-left " role="list" style="overflow: hidden;">
                  <li class="goc-desktop goc-menu goc-left-0 goc-hidden" role="listitem">
                     <a class="goc-wide-link" id="disney-image" href="index.html" aria-label="
                        Disney.co.za">
                     <img alt="Disney" src="../png/disney_logo_dark%402x-45d70f7dd57b.png" class="disney-img">
                     <u>Disney.co.za</u></a>
                  </li>
                  <li class="goc-desktop bar-dropdown" role="listitem">
                     <a href="movies.html" aria-expanded="false" id="MOVIES-dropdown" aria-controls="MOVIES-dropdown" class="bar-dropdown-link bar-dropdown-0" data-analytic="1/none/item-1"><u>MOVIES</u></a>
                     <div class="bar-dropdown-container" role="region" aria-labelledby="MOVIES-dropdown" id="MOVIES-region-desktop">
                        <ul class="bar-dropdown-content">
                        {{ page.main_navigation }}
                          
                        </ul>
                     </div>
                  </li>
                  <li class="goc-desktop bar-dropdown goc-more goc-hidden" role="listitem" id="goc-bar-more-dropdown">
                     <a href="#" class="more-dropdown-link bar-dropdown-1"><u>More</u></a>
                     <div class="bar-dropdown-container" role="region" aria-labelledby="more-control" id="more-region">
                        <ul class="bar-dropdown-content" id="more-dropdown-container">
                        </ul>
                     </div>
                  </li>
               </ul>
               <ul id="goc-user" class="">
                  <li class="goc-login">
                     <span class="goc-icn-login-bar"></span>
                     <span class="login-title-link trigger-base" data-event="login" role="button" onclick="">
                     <a href="javascript:void(0);" class="login-link"><u>Sign in</u></a>
                     </span>
                  </li>
                  <li class="goc-logout goc-dropdown">
                     <span class="goc-icn-login-bar"></span>
                     <a href="#" class="login-dropdown-title-link" role="button">
                     <u class="title">My account</u>
                     <span class="arrow"></span>
                     </a>
                     <ul>
                        <li>
                           <span class="trigger-base" data-event="profile" role="button" onclick="">
                           <a class="login-dropdown-link dropdown_link" data-analytic="disid_menu" href="javascript:void(0);" rel="nofollow"><u>Update My Account</u></a>
                           </span>
                        </li>
                        <li>
                           <span class="trigger-base" data-event="logout" role="button" onclick="">
                           <a class="login-dropdown-link" data-analytic="disid_menu" href="javascript:void(0);"><u>Sign out</u></a>
                           </span>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
         <div class="goc-search-overlay"></div>
         <div id="goc-nav" class="goc-el goc-bg-light ">
            <a id="goc-logo" title="Disney" href="index.html"></a>
            <span id="goc-e" role="button" title="Navigate" aria-label=""></span>
         </div>
         <script type="text/javascript">GOC.queue.push(["trigger","accept:base"]);</script>
         <div id="nav-local" class="nav-local exclude-local-chrome goc-bg-light">
            <div id="nav-pushdown"></div>
            <div class="bound">
               <button aria-controls="goc-menu" aria-expanded="false" id="nav-e" role="button" title="Navigate" aria-label=""></button>
               <a href="index.html" aria-label="Disney " title="Disney " class="nav-logo disable_image" id="nav-logo"><span></span> </a>
               <ul>
               </ul>
            </div>
         </div>
        